div {
    margin: 20px;
    padding: 15px;
    border-radius: 5px;
}

.header {
    background-color: #3498db;
    color: white;
    text-align: center;
}

.main {
    background-color: rgba(0, 0, 255, 0.4);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

span {
    color: maroon;
    font-weight: bold;
}

.footer {
    text-align: right;
    font-size: 0.8em;
}
