
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: var(--bg);
    color: var(--text);
    transition: all 0.3s ease-in-out;
}

:root {
    --bg: #ffffff;
    --text: #222;
    --primary: #da680a;
    --card-bg: #f0f0f0;
}

.dark {
    --bg: #121212;
    --text: #f5f5f5;
    --card-bg: #1e1e1e;
}


header {
    position: fixed;
    width: 100%;
    top: 0;
    background: var(--bg);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    z-index: 1000;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar a {
    margin: 0 15px;
    font-weight: 500;
    text-decoration: none;
    color: var(--text);
}

.navbar a:hover {
    color: var(--primary);
}

.theme-toggle {
    font-size: 1.4rem;
    cursor: pointer;
}


.hero {
    height: 100vh;
    padding: 120px 40px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero .name {
    color: var(--primary);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: var(--primary);
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    text-decoration: none;
}

.btn.small {
    padding: 8px 16px;
}


.section-title {
    text-align: center;
    font-size: 2.2rem;
    margin: 50px 0;
}


.about {
    padding: 50px 40px;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.profile-img {
    width: 250px;
    border-radius: 10px;
}


.skills {
    padding: 50px 40px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 40px;
}

.skill-card {
    background: var(--card-bg);
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    font-weight: 500;
    transition: 0.3s;
}
.skill-icon{
    width: 40px;
    height: 40px;
    margin-right: 8px;
    vertical-align: middle;
}
.skill-card:hover {
    background: var(--primary);
    color: rgb(245, 245, 245);
}


.projects {
    padding: 50px 40px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.project-card {
    background: var(--card-bg);
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.project-card img {
    width: 100%;
    border-radius: 8px;
}

.project-card:hover {
    transform: translateY(-5px);
}

.contact {
    padding: 50px 40px;
}

.contact-form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    background: var(--card-bg);
}

.contact-form textarea {
    height: 120px;
}


footer {
    text-align: center;
    padding: 20px;
    background: var(--card-bg);
    margin-top: 40px;
}
